<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
* Created by WuJiaTao on 2018-6-29.
-->
<mapper namespace="com.chinaxaxt.xtzncms.mapper.biz.CompanyCultureMapper">
    <resultMap id="companyCulture" type="com.chinaxaxt.xtzncms.entity.biz.CompanyCulture">
            <id property="uid" column="uid"/>
            <result property="name" column="name"/>
            <result property="remark" column="remark"/>
            <result property="image" column="image"/>
            <result property="type" column="type"/>
            <result property="detail" column="detail"/>
            <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="columns">
            `uid` ,`name` ,`remark` ,`image` ,`type` ,`detail` ,`create_time`
    </sql>

    <insert id="insert">
        insert into `t_company_culture`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                `uid`,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="remark != null">
                `remark`,
            </if>
            <if test="image != null">
                `image`,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="detail != null">
                `detail`,
            </if>
            <if test="createTime != null">
                `create_time`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
            #{uid} ,
            </if>
            <if test="name != null">
            #{name} ,
            </if>
            <if test="remark != null">
            #{remark} ,
            </if>
            <if test="image != null">
            #{image} ,
            </if>
            <if test="type != null">
            #{type} ,
            </if>
            <if test="detail != null">
            #{detail} ,
            </if>
            <if test="createTime != null">
            #{createTime} ,
            </if>
        </trim>
    </insert>

    <delete id="deleteByUid">
        delete from `t_company_culture` where `uid` = #{uid}
    </delete>
    
    <update id="updateDetail">
    	update `t_company_culture` set `detail` = #{detail} where `uid` = #{uid}
    </update>

    <update id="update">
        update `t_company_culture`
        <set>
           <if test="name != null">
               `name` = #{name},
           </if>
           <if test="remark != null">
               `remark` = #{remark},
           </if>
           <if test="image != null">
               `image` = #{image},
           </if>
           <if test="type != null">
               `type` = #{type},
           </if>
           <if test="detail != null">
               `detail` = #{detail},
           </if>
           <if test="createTime != null">
               `create_time` = #{createTime},
           </if>
        </set>
        where uid = #{uid}
    </update>

    <select id="select" resultMap="companyCulture">
        select
        <include refid="columns" />
        from `t_company_culture`
        <trim prefix="where ">
            <if test="uid != null">
                and `uid` = #{uid}
            </if>
            <if test="name != null">
                and `name` = #{name}
            </if>
            <if test="remark != null">
                and `remark` = #{remark}
            </if>
            <if test="image != null">
                and `image` = #{image}
            </if>
            <if test="type != null">
                and `type` = #{type}
            </if>
            <if test="detail != null">
                and `detail` = #{detail}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime}
            </if>
        </trim>
    </select>
</mapper>