<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
* Created by WuJiaTao on 2018-6-29.
-->
<mapper namespace="com.chinaxaxt.xtzncms.mapper.biz.CooperationMapper">
    <resultMap id="cooperation" type="com.chinaxaxt.xtzncms.entity.biz.Cooperation">
            <id property="uid" column="uid"/>
            <result property="name" column="name"/>
            <result property="photo" column="photo"/>
            <result property="url" column="url"/>
            <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="columns">
            `uid` ,`name` ,`photo` ,`url` ,`create_time`
    </sql>

    <insert id="insert">
        insert into `t_cooperation`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                `uid`,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="photo != null">
                `photo`,
            </if>
            <if test="url != null">
                `url`,
            </if>
            <if test="createTime != null">
                `create_time`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
            #{uid} ,
            </if>
            <if test="name != null">
            #{name} ,
            </if>
            <if test="photo != null">
            #{photo} ,
            </if>
            <if test="url != null">
            #{url} ,
            </if>
            <if test="createTime != null">
            #{createTime} ,
            </if>
        </trim>
    </insert>

    <delete id="deleteByUid">
        delete from `t_cooperation` where `uid` = #{uid}
    </delete>

    <update id="update">
        update `t_cooperation`
        <set>
          <if test="name != null">
              `name` = #{name},
          </if>
          <if test="photo != null">
              `photo` = #{photo},
          </if>
          <if test="url != null">
              `url` = #{url},
          </if>
          <if test="createTime != null">
              `create_time` = #{createTime},
          </if>
        </set>
        where uid = #{uid}
    </update>

    <select id="select" resultMap="cooperation">
        select
        <include refid="columns" />
        from `t_cooperation`
        <trim prefix="where ">
            <if test="uid != null">
                and `uid` = #{uid}
            </if>
            <if test="name != null">
                and `name` = #{name}
            </if>
            <if test="photo != null">
                and `photo` = #{photo}
            </if>
            <if test="url != null">
                and `url` = #{url}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime}
            </if>
        </trim>
    </select>
</mapper>