<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
* Created by WuJiaTao on 2018-6-29.
-->
<mapper namespace="com.chinaxaxt.xtzncms.mapper.biz.GovernmentMapper">
    <resultMap id="government" type="com.chinaxaxt.xtzncms.entity.biz.Government">
            <id property="uid" column="uid"/>
            <result property="name" column="name"/>
            <result property="synopsis" column="synopsis"/>
            <result property="content" column="content"/>
            <result property="virtue" column="virtue"/>
            <result property="image" column="image"/>
            <result property="imageName" column="image_name"/>
            <result property="url" column="url"/>
            <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="columns">
            `uid` ,`name` ,`synopsis` ,`content` ,`virtue` ,`image` ,`url` ,`create_time` ,`image_name`
    </sql>

    <insert id="insert">
        insert into `t_government`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                `uid`,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="synopsis != null">
                `synopsis`,
            </if>
            <if test="content != null">
                `content`,
            </if>
            <if test="virtue != null">
                `virtue`,
            </if>
            <if test="image != null">
                `image`,
            </if>
            <if test="imageName != null">
                `image_name`,
            </if>
            <if test="url != null">
                `url`,
            </if>
            <if test="createTime != null">
                `create_time`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
            #{uid} ,
            </if>
            <if test="name != null">
            #{name} ,
            </if>
            <if test="synopsis != null">
            #{synopsis} ,
            </if>
            <if test="content != null">
            #{content} ,
            </if>
            <if test="virtue != null">
            #{virtue} ,
            </if>
            <if test="image != null">
            #{image} ,
            </if>
            <if test="imageName != null">
            #{imageName} ,
            </if>
            <if test="url != null">
            #{url} ,
            </if>
            <if test="createTime != null">
            #{createTime} ,
            </if>
        </trim>
    </insert>

    <delete id="deleteByUid">
        delete from `t_government` where `uid` = #{uid}
    </delete>

    <update id="update">
        update `t_government`
        <set>
           <if test="name != null">
               `name` = #{name},
           </if>
           <if test="synopsis != null">
               `synopsis` = #{synopsis},
           </if>
           <if test="content != null">
               `content` = #{content},
           </if>
           <if test="virtue != null">
               `virtue` = #{virtue},
           </if>
           <if test="image != null">
               `image` = #{image},
           </if>
           <if test="imageName != null">
               `image_name` = #{imageName},
           </if>
           <if test="url != null">
               `url` = #{url},
           </if>
           <if test="createTime != null">
          	   `create_time` = #{createTime},
           </if>
        </set>
        where uid = #{uid}
    </update>

    <select id="select" resultMap="government">
        select
        <include refid="columns" />
        from `t_government`
        <trim prefix="where ">
            <if test="uid != null">
                and `uid` = #{uid}
            </if>
            <if test="name != null">
                and `name` = #{name}
            </if>
            <if test="synopsis != null">
                and `synopsis` = #{synopsis}
            </if>
            <if test="content != null">
                and `content` = #{content}
            </if>
            <if test="virtue != null">
                and `virtue` = #{virtue}
            </if>
            <if test="image != null">
                and `image` = #{image}
            </if>
            <if test="imageName != null">
                and `image_name` = #{imageName}
            </if>
            <if test="url != null">
                and `url` = #{url}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime}
            </if>
        </trim>
    </select>
</mapper>