<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
* Created by WuJiaTao on 2018-6-29.
-->
<mapper namespace="com.chinaxaxt.xtzncms.mapper.biz.InfoMapper">
    <resultMap id="info" type="com.chinaxaxt.xtzncms.entity.biz.Info">
            <id property="uid" column="uid"/>
            <result property="title" column="title"/>
            <result property="remark" column="remark"/>
            <result property="imageUrl" column="image_url"/>
            <result property="author" column="author"/>
            <result property="context" column="context"/>
            <result property="createTime" column="create_time"/>
            <result property="hitCount" column="hit_count"/>
            <result property="applaudCount" column="applaud_count"/>
    </resultMap>

    <sql id="columns">
            `uid` ,`title` ,`remark` ,`image_url` ,`author` ,`context` ,`create_time` ,`hit_count` ,`applaud_count`
    </sql>

    <insert id="insert">
        insert into `t_info`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                `uid`,
            </if>
            <if test="title != null">
                `title`,
            </if>
            <if test="remark != null">
                `remark`,
            </if>
            <if test="imageUrl != null">
                `image_url`,
            </if>
            <if test="author != null">
                `author`,
            </if>
            <if test="context != null">
                `context`,
            </if>
            <if test="createTime != null">
                `create_time`,
            </if>
            <if test="hitCount != null">
                `hit_count`,
            </if>
            <if test="applaudCount != null">
                `applaud_count`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
            #{uid} ,
            </if>
            <if test="title != null">
            #{title} ,
            </if>
            <if test="remark != null">
            #{remark} ,
            </if>
            <if test="imageUrl != null">
            #{imageUrl} ,
            </if>
            <if test="author != null">
            #{author} ,
            </if>
            <if test="context != null">
            #{context} ,
            </if>
            <if test="createTime != null">
            #{createTime} ,
            </if>
            <if test="hitCount != null">
            #{hitCount} ,
            </if>
            <if test="applaudCount != null">
            #{applaudCount} ,
            </if>
        </trim>
    </insert>

    <delete id="deleteByUid">
        delete from `t_info` where `uid` = #{uid}
    </delete>

    <update id="update">
        update `t_info`
        <set>
          <if test="title != null">
              `title` = #{title},
          </if>
          <if test="remark != null">
              `remark` = #{remark},
          </if>
          <if test="imageUrl != null">
              `image_url` = #{imageUrl},
          </if>
          <if test="author != null">
              `author` = #{author},
          </if>
          <if test="context != null">
              `context` = #{context},
          </if>
          <if test="createTime != null">
              `create_time` = #{createTime},
          </if>
          <if test="hitCount != null">
              `hit_count` = #{hitCount},
          </if>
          <if test="applaudCount != null">
              `applaud_count` = #{applaudCount},
          </if>
        </set>
        where uid = #{uid}
    </update>

    <select id="select" resultMap="info">
        select
        <include refid="columns" />
        from `t_info`
        <trim prefix="where ">
            <if test="uid != null">
                and `uid` = #{uid}
            </if>
            <if test="title != null">
                and `title` = #{title}
            </if>
            <if test="remark != null">
                and `remark` = #{remark}
            </if>
            <if test="imageUrl != null">
                and `image_url` = #{imageUrl}
            </if>
            <if test="author != null">
                and `author` = #{author}
            </if>
            <if test="context != null">
                and `context` = #{context}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime}
            </if>
            <if test="hitCount != null">
                and `hit_count` = #{hitCount}
            </if>
            <if test="applaudCount != null">
                and `applaud_count` = #{applaudCount}
            </if>
        </trim>
    </select>
</mapper>